#top {
    display: flex;
    align-items: center;
}
  
#logo {
    width: 13rem;
    height: 3rem;
}
  
/* 
* description
/* -------------------------------------------------- */
#description {
    display: flex;
    align-items: center;
  
    font-family: Inter;
    font-weight: 500;
    font-size: 1.2rem;

    margin-left: 2rem;
}

.button {
    display: block;
    margin: 4rem auto 0 auto;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.card {
    padding: 4rem;
}