.margin {
  margin-top: 4rem;
}

#page-profile .page-header ~ .container {
  display: flex;
}

aside.card {
  background: var(--color-card-background);
  color: var(--color-card-title);

  border: 1px solid #E1E3E6;
  border-radius: .313rem;

  width: 22rem;

  margin-right: 8rem;

  text-align: center;

  padding: 3.875rem 4.625rem;
}

aside > img {
  border-radius: 50%;

  border: .25rem var(--color-secondary) solid;

  width: 11.25rem;
  height: 11.25rem;

  margin-bottom: 1.5rem;
}

aside h2 {
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;


  margin-bottom: 3.875rem;
}

aside p {
  margin-bottom: 3.875rem;

  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

form + form {
  margin-top: 4rem;
}

.button {
  line-height:1.25rem
}

.button-group {
  justify-content: space-between;
}

.button-group .button {
  width: calc(50% - .5rem);
}

.button + .button {
  margin-left: 0;
}

fieldset + .button {
  margin-top: 2rem;
}

.button-group + .button {
  margin-top: 1rem;
}

#delete-button:hover {
  background-color: var(--color-delete);
  color: var(--color-text);
}

#delete-button:hover img {
  content: url("/images/trash-24-white.svg")
}

.button img {
  width: 1.5rem;
  height: 1.5rem;
}

#password {
  margin-bottom: 2rem;
}

main {
  flex: 1;
}