<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>JobsCalc</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/pages/auth.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

  </head>

  <body id="page-index"> 
    <header class="page-header">
      <div class="container">
        <section id="top" class="animate-up">
          <h2 class="sr-only">Login e Registro</h2>
          <img id="logo" src="/images/logo.svg" alt="Logo" />
          <span id="description">
            Calcule o valor de seus projetos freelance
          </span>
        </section>
      </div>
    </header>

    <%- include('parts/flash', { message }) %>

    <div class="container flex animate-up delay-2">
      <main>
        <div class="card">
        <form id="form-login" method="POST" action="/login">
          <fieldset>
            <legend>Login</legend>

            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper" style="width: 100%">
                <label for="email">Email</label>
                <input type="email" id="loginEmail" name="email" value="" required/>
              </div>
            </div>

            <div class="input-group">
              <div class="input-wrapper" style="width: 100%">
                <label for="password">Senha</label>
                <input type="password" id="loginPassword" name="password" value="" required/>
              </div>
            </div>
          </fieldset>

          <button 
            class="button green" 
            form="form-login" 
            type="submit" 
            title="Fazer login">
            Entrar
          </button>
        </form>
      </div>

        <form id="form-register" method="POST" action="/register">
          <fieldset>
            <legend>Registro</legend>

            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="email">Email</label>
                <input type="email" id="registerEmail" name="email" value="" required/>
              </div>

              
              <div class="input-wrapper">
                <label for="password">Senha</label>
                <input type="password" id="registerPassword" name="password" value="" pattern=".{6,}" title="Sua senha deve ter 6 ou mais caracteres." required/>
              </div>
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="name">Nome</label>
                <input type="name" id="name" name="name" value="" required/>
              </div>

              <div class="input-wrapper">
                <label for="lastName">Sobrenome</label>
                <input type="lastName" id="lastName" name="lastName" value="" required/>
              </div>
            </div>        
          </fieldset>
            
            <button 
              class="button orange" 
              form="form-register" 
              type="submit" 
              title="Fazer registro">
              Registrar
            </button>
          </form>
      </main>
    </div>
  </body>
</html>