<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>JobsCalc</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/pages/forgot-password.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="/scripts/eye-icon.js" type="text/javascript"></script>

  </head>

  <body id="page-index"> 

    <%- include('parts/page-header', { title: 'Mudança de email', previousPage: 'profile' }) %>

    <%- include('parts/flash', { message }) %>

    <div class="container flex animate-up delay-2">
      <main>
        <div class="card">
        <form id="form-change-email" method="POST">
          <fieldset>
            <legend>Altere seu email</legend>

            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper" style="width: 100%">
                <label for="email">Novo email</label>
                <input type="email" id="email" name="email" value="" required/>
              </div>
            </div>
   
          </fieldset>

          <button 
            class="button green" 
            form="form-change-email" 
            type="submit" 
            title="Alterar email">Confirmar</button>
        </form>
      </div>

      </main>
    </div>
  </body>
</html>